body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#support{
  background:#387ed1;
  color:white;
  padding-left:150px;
  padding-right:150px;
}

#head{
  display:flex;
  /* flex-direction:row; */
  justify-content:space-between;
}

.search-box{
  padding:15px;
  width:550px;
  border-radius:5px;
  
}

.custom-h1 {
  color: #5A6FDD;
  font-weight: bold;
  margin: 0;
}

.custom-p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.custom-span {
  font-size: 12px;
}

.custom-a {
  color: #5869A1;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.custom-button {
  border-radius: 20px;
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.custom-button:active {
  transform: scale(0.95);
}

.custom-button:focus {
  outline: none;
}

.custom-button.custom-ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.custom-form-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.custom-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.custom-social-container {
  margin: 20px 0;
}

.custom-social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: #000;
}

.custom-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 30px;
}

.custom-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.custom-sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.custom-sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.custom-container.right-panel-active .custom-sign-in-container {
  transform: translateX(100%);
}

.custom-container.right-panel-active .custom-sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }

  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.custom-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.custom-container.right-panel-active .custom-overlay-container {
  transform: translateX(-100%);
}

.custom-overlay {
  background: #57B846;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2E8B57, #57B846);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2E8B57, #57B846); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.custom-container.right-panel-active .custom-overlay {
  transform: translateX(50%);
}

.custom-overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.custom-overlay-panel.custom-h1 {
  color: white;
}

.custom-overlay-left {
  transform: translateX(-20%);
}

.custom-container.right-panel-active .custom-overlay-left {
  transform: translateX(0);
}

.custom-overlay-right {
  right: 0;
  transform: translateX(0);
}

.custom-container.right-panel-active .custom-overlay-right {
  transform: translateX(20%);
}

